<% provide(:title, 'SV-Now') %>

<div class="center hero-unit">
	<h1>Welcome to StadiumVision NOW</h1>
	<h2>
		This is the home page for the 
		<a href="http://www.cisco.com/web/strategy/sports/stadiumvision_mobile.html">StadiumVision NOW</a>
		cloud prototype
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("cisco_logo_small.png", alt: "Cisco"), 'http://www.cisco.com' %>
