<footer>
	<small><a href="http://www.cisco.com/web/strategy/sports/stadiumvision_mobile.html">StadiumVision NOW</a> by Cisco Systems</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.cisco.com/web/strategy/sports/stadiumvision_mobile.html">News</a></li>
		</ul>
	</nav>
</footer>